@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background-color: #f9f6f4;
  /* background-color: #000000; */
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#copy-btn {
  width: 28px;
  height: 28px;
  border-radius: 4px;
}

#copy-btn:hover {
  background: rgba(0, 0, 0, 0.1);
  /* background-color: red; */
}